// background-color body
$bg-body: #121214;

// margin auto
$margin_auto: 0 auto;

// paddings
$p1: 10px;

// use fonts
$f_roboto: 'Roboto', sans-serif;

// linear gradient
$bg_banner: linear-gradient(90deg,#8257e5,#f75a68);