@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u,
i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 100%;
  background-attachment: scroll !important;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #121214;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.regular-16 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 160%;
  font-weight: 700;
}

.headline-20 {
  font-family: "Roboto", sans-serif;
  color: #e1e1e6;
  font-size: 18px;
  line-height: 160%;
  font-weight: 700;
}

.headline-24 {
  font-family: "Roboto", sans-serif;
  color: #00b37e;
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
  text-align: center;
  margin-top: 8px;
}

.headline-blue {
  font-family: "Roboto", sans-serif;
  color: #42d3ff;
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
  text-align: center;
  margin-top: 8px;
}

.headline-48 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 125%;
  font-weight: 700;
}

.headline-32 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
}

.p-16 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 160%;
  color: #e1e1e6;
}

.p-gray {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 160%;
  color: #c4c4cc;
  text-align: center;
}

.text-buttom {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #FFF;
  font-family: "Roboto", sans-serif;
}

.span-slice {
  text-decoration: line-through;
}

.font20 {
  font-size: 20px;
}

.heading-40 {
  font-size: 28px;
  line-height: 130%;
  font-weight: 400;
  color: #e1e1e6;
}

.paragraph-2 {
  font-family: "Roboto", sans-serif;
  color: #c4c4cc;
  font-size: 16px;
  line-height: 160%;
  font-style: normal;
  text-decoration: none;
}

@media screen and (min-width: 991px) {
  .headline-32 {
    font-size: 32px;
    line-height: 140%;
  }
}
.button-assemble {
  background-color: #8257e5;
  border: 0;
  padding: 14px 24px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.button-assemble b {
  margin-left: 8px;
}

.button-lp-ignite {
  padding: 16px 32px;
  border-radius: 5px;
  background-color: #00875f;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.button-lp-explorer {
  padding: 16px 32px;
  border-radius: 5px;
  background-color: #42d3ff;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  text-align: center;
}

.button-lp-purple {
  padding: 16px 32px;
  border-radius: 5px;
  background-color: #8257e5;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  text-align: center;
}

.link-mais {
  margin-top: 8px;
  padding: 16px 32px;
  background-color: transparent;
  -webkit-transition-property: border;
  transition-property: border;
  color: #e1e1e6;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}

.button-plus {
  padding: 16px 32px;
  border-radius: 5px;
  background-image: linear-gradient(90deg, #996dff, #ffd47f 56%, #ff5c39);
  color: #121214;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.orange {
  color: #fba94c;
}

.purple {
  color: #8257e5 !important;
}

.green {
  color: #04d361;
}

.white {
  color: white;
}

.bg-explorer {
  background-image: linear-gradient(180deg, #121214 50%, rgba(18, 18, 20, 0)), url("../assets/blur-explorer.webp") !important;
  background-position: 0 0, 50% 100%;
  background-size: auto, auto;
  background-repeat: repeat, no-repeat;
}

.bg-purple {
  background-image: url("../assets/blur-purple.webp"), linear-gradient(180deg, transparent, transparent) !important;
  background-position: 50% 100%, 0 0 !important;
  background-color: rgba(29, 19, 52, 0.5) !important;
  background-repeat: no-repeat !important;
}

.bg-plus {
  background-image: linear-gradient(180deg, #121214 50%, rgba(18, 18, 20, 0)), url("../assets/blur-plus.webp") !important;
  background-position: 0 0, 50% 100%;
  background-size: auto, auto;
  background-repeat: repeat, no-repeat;
}

@media screen and (min-width: 479px) {
  .bg-purple, .bg-explorer, .bg-plus {
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bg-purple {
    background-image: url("../assets/blur-purple.webp") !important;
  }

  .bg-explorer {
    background-image: url("../assets/blur-explorer.webp") !important;
  }

  .bg-plus {
    background-image: url("../assets/blur-plus.webp") !important;
  }
}
.dividir-sections {
  margin: 60px 0px;
  width: 100%;
  height: 1px;
  background-color: #323238;
}

.divisor-card {
  margin: 24px 0px;
  width: 100%;
  height: 1px;
  background-color: #323238;
}

.content-tags {
  margin: 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px 0px;
}
.content-tags .tag-cursos {
  border-radius: 100px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #202024;
  width: fit-content;
}

.section-price {
  background-image: linear-gradient(180deg, #29292e, rgba(41, 41, 46, 0));
  padding: 16px;
  border-radius: 4px;
  margin-top: 24px;
}

.b-space {
  margin-top: 32px;
  width: 100%;
}
.b-space a {
  display: block;
  width: auto;
}

.m-purple {
  margin-top: -60px;
  margin-bottom: -60px;
}

@media screen and (min-width: 550px) {
  .text-m-w {
    max-width: 267px !important;
  }
}
.topbanner {
  width: 100%;
  padding: 10px 0px;
  background-image: linear-gradient(90deg, #8257e5, #f75a68);
  border-radius: 0px 0px 30px 30px;
}
.topbanner .textbanner {
  text-align: center;
}

.contentMain {
  background-image: url("../assets/BG-black.webp");
  background-position: 50% 0;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
}
.contentMain .maxWidth {
  max-width: 1216px;
  margin: 0 auto;
  padding: 0px 16px 0px 16px;
}
.contentMain .maxWidth .content-center {
  width: auto;
}
.contentMain .maxWidth .content-center .header-content-black {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}
.contentMain .maxWidth .content-center .header-content-black .logo-blackfirday {
  width: 100%;
}
.contentMain .maxWidth .content-center .header-content-black .center {
  margin-top: 24px;
  text-align: center;
}
.contentMain .maxWidth .content-center .header-content-black a {
  margin-top: 24px;
  text-decoration: none;
}
.contentMain .maxWidth .content-center .header-content-black .arrow-b {
  height: 48px;
  margin-top: 24px;
}
.contentMain .maxWidth .section-card-products {
  background-image: linear-gradient(180deg, #121214 50%, rgba(18, 18, 20, 0)), url("../assets/blur-ignite.webp");
  background-position: 0 0, 50% 100%;
  background-size: auto, auto;
  background-repeat: repeat, no-repeat;
  border: 1px solid #202024;
  border-radius: 10px;
  background-color: #09090a;
  margin-top: 40px;
  padding: 24px 0px 16px 24px;
}
.contentMain .maxWidth .section-card-products .content-c-esq {
  padding-right: 16px;
}
.contentMain .maxWidth .section-card-products .content-c-esq .logo-contents {
  display: flex;
  align-items: center;
  gap: 0px 16px;
  margin-bottom: 24px;
}
.contentMain .maxWidth .section-card-products .content-c-esq .logo-contents .divisor {
  height: 32px;
  width: 1px;
  background-color: #505059;
}
.contentMain .maxWidth .section-card-products .content-c-esq .logo-contents .heat-text {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  color: #00b37e;
  font-weight: 700;
  text-transform: uppercase;
}
.contentMain .maxWidth .section-card-products .content-c-esq .logo-contents .explore {
  color: #42d3ff;
}
.contentMain .maxWidth .section-card-products .content-c-esq .mt24 {
  margin-top: 24px;
}
.contentMain .maxWidth .section-card-products .content-c-esq .section-discount {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 24px 0px 24px 0px;
}
.contentMain .maxWidth .section-card-products .content-c-esq .section-discount h3 .linear-gradient {
  background-image: linear-gradient(90deg, #ad8afc, #f75a68);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contentMain .maxWidth .section-card-products .content-c-esq .section-price {
  background-image: linear-gradient(180deg, #29292e, rgba(41, 41, 46, 0));
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 24px;
}
@media screen and (min-width: 479px) {
  .contentMain .maxWidth .section-card-products .content-c-esq .section-price {
    background-image: linear-gradient(90deg, #29292e, rgba(41, 41, 46, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contentMain .maxWidth .section-card-products .content-c-esq .section-price div:nth-child(2) {
    max-width: 143px;
  }
  .contentMain .maxWidth .section-card-products .content-c-esq .section-content-buttom .div-content-buttons a {
    width: fit-content;
  }
}
@media screen and (min-width: 503px) {
  .contentMain .maxWidth .section-card-products .content-c-esq .section-content-buttom .div-content-buttons {
    display: flex !important;
    flex-direction: row !important;
    gap: 0px 16px;
  }
  .contentMain .maxWidth .section-card-products .content-c-esq .section-content-buttom .div-content-buttons a {
    width: fit-content;
    display: flex;
    align-items: center;
  }
}
.contentMain .maxWidth .section-card-products .content-c-esq .section-content-buttom .div-content-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 991px) {
  .contentMain .maxWidth .section-card-products .content-c-esq {
    padding-right: 60px;
  }
}
.contentMain .maxWidth .section-card-products .content-c-dir {
  margin-top: 60px;
}
@media screen and (min-width: 916px) {
  .contentMain .maxWidth .section-card-products .content-c-dir img {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 479px) {
  .contentMain .maxWidth .section-card-products {
    background-image: url("../assets/blur-ignite.webp");
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 991px) {
  .contentMain .maxWidth .section-card-products {
    display: flex;
    padding: 60px 0px 60px 60px;
  }
}
.contentMain .maxWidth .section-grid-cursos {
  margin: 40px 0px 0px 0px;
}
.contentMain .maxWidth .section-grid-cursos .card-cursos {
  padding: 16px;
  border: 1px solid #202024;
  border-radius: 6px;
  background-color: #09090a;
  margin-bottom: 32px;
}
.contentMain .maxWidth .section-grid-cursos .card-cursos .name-curso {
  display: flex;
  align-items: center;
  gap: 16px;
}
.contentMain .maxWidth .section-grid-cursos .card-cursos .instructor-course {
  display: flex;
  align-items: center;
  gap: 0px 16px;
}
.contentMain .maxWidth .section-grid-cursos .card-cursos .instructor-course .avatar-instructor-card {
  max-width: 54px;
}
@media screen and (min-width: 1080px) {
  .contentMain .maxWidth .section-grid-cursos .card-cursos .content-tags {
    display: flex;
    flex-direction: row;
    gap: 0px 16px;
  }
  .contentMain .maxWidth .section-grid-cursos .card-cursos .section-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contentMain .maxWidth .section-grid-cursos .card-cursos .section-price div:nth-child(2) {
    width: auto;
  }
  .contentMain .maxWidth .section-grid-cursos .card-cursos .section-price div:nth-child(2) a {
    width: fit-content;
  }
}
@media screen and (min-width: 768px) {
  .contentMain .maxWidth .section-grid-cursos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px 32px;
  }
}

.sobre-a-rocketseat {
  padding: 140px 0px;
  background-image: linear-gradient(90deg, #202024, #121214);
}
.sobre-a-rocketseat .max-container {
  max-width: 1216px;
  padding: 0px 24px 8px 24px;
}
.sobre-a-rocketseat .max-container .c-content .logo-title-text {
  padding-bottom: 40px;
}
.sobre-a-rocketseat .max-container .c-content .logo-title-text .title-sobre {
  display: flex;
  align-items: center;
  gap: 0px 24px;
}
.sobre-a-rocketseat .max-container .c-content .logo-title-text p {
  margin-top: 24px;
}
.sobre-a-rocketseat .max-container .c-content .logo-title-text p strong {
  font-weight: 700;
}
@media screen and (min-width: 995px) {
  .sobre-a-rocketseat .max-container .c-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px 60px;
  }
}

.footer-rocket {
  border: 1px solid #202024;
  border-radius: 1px;
  background-color: #121214;
}
.footer-rocket .footer-container {
  max-width: 1216px;
  padding: 60px 24px;
}
.footer-rocket .footer-container .article-footer-content .links {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px 0px;
}
.footer-rocket .footer-container .article-footer-content .button-block {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.footer-rocket .footer-container .article-footer-content .button-block .button-inicio {
  padding-top: 32px;
}
@media screen and (min-width: 600px) {
  .footer-rocket .footer-container .article-footer-content .links {
    display: flex;
    flex-direction: row;
    gap: 0px 48px;
  }
}
@media screen and (min-width: 768px) {
  .footer-rocket .footer-container .article-footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-rocket .footer-container .article-footer-content .button-block {
    width: auto;
    margin-top: 0;
  }
  .footer-rocket .footer-container .article-footer-content .button-block .button-inicio {
    padding-top: 0;
  }
}

/*# sourceMappingURL=styele.css.map */
