
 .button-assemble {
    background-color: #8257e5;
    border: 0;
    padding: 14px 24px;
    border-radius: 5px;

    display: flex;
    align-items: center;

    
   

    b {
        margin-left: 8px;
        
    }
}

.button-lp-ignite {
  
  @include button_lp(#00875f, #fff);

}
.button-lp-explorer {
   
  @include button_lp(#42d3ff, #000)

}
.button-lp-purple {
  
  @include button_lp(#8257e5, #fff)

}

.link-mais {
  margin-top: 8px;
  padding: 16px 32px;
  background-color: transparent;
  -webkit-transition-property: border;
  transition-property: border;
  color: #e1e1e6;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;

  &:hover {
    border-radius: 4px;   
    box-shadow: 1px 1px 10px #999;
  }
}

.button-plus{
    background-image: linear-gradient(90deg,#996dff,#ffd47f 56%,#ff5c39);

    @include button_lp(unset, #121214)
}