@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.regular-16 {
	font-family: $f_roboto;

    @include font_headline1(14px,700,160%,unset)
}

.headline-20 {
	font-family: $f_roboto;

    @include font_headline1(18px,700,160%,#e1e1e6)
}
.headline-24 {
	font-family: $f_roboto;

    @include font_headline2(#00b37e)
}
.headline-blue {
    font-family: $f_roboto;

    @include font_headline2(#42d3ff)
}
.headline-48 {
	font-family: $f_roboto;

    @include font_headline1(30px, 700, 125%, #fff);
}
.headline-32 {
	font-family: $f_roboto;

    @include font_headline1(24px,700,140%,#fff)
}

.p-16 {
	font-family: $f_roboto;

    @include font_headline1(16px, unset,160%,#e1e1e6)
}
.p-gray {
	font-family: $f_roboto;
    font-size: 14px;
    line-height: 160%;
    color: #c4c4cc;
    text-align: center;
}

.text-buttom {
    text-transform: uppercase;
 
    @include font_headline1(14px, 700, unset, #FFF);

    font-family: $f_roboto;
}

.span-slice {
    text-decoration: line-through;
}

.font20 {
    font-size: 20px;
}

.heading-40 {

    @include font_headline1(28px,400,130%,#e1e1e6);

}

.paragraph-2 {
    font-family: $f_roboto;
  
    @include font_headline1(16px,unset,160%,#c4c4cc);
    font-style: normal;
    text-decoration: none;
}

@media screen and(min-width: 991px) {
    .headline-32 {
        font-size: 32px;
        line-height: 140%;
    }

    .headline-48 {
        font-size: 48px;
        line-height: 125%;

    }
}