@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.regular-16 {
	font-family: $f_roboto;
	font-size: 14px;
    line-height: 160%;
    font-weight: 700;
}

.headline-20 {
	font-family: $f_roboto;
    color: #e1e1e6;
    font-size: 18px;
    line-height: 160%;
    font-weight: 700;
}
.headline-24 {
	font-family: $f_roboto;
    color: #00b37e;
    font-size: 24px;
    line-height: 140%;
    font-weight: 700;

    text-align: center;
    margin-top: 8px;
}
.headline-blue {
    font-family: $f_roboto;
    color: #42d3ff;
    font-size: 24px;
    line-height: 140%;
    font-weight: 700;

    text-align: center;
    margin-top: 8px;
}
.headline-48 {
	font-family: $f_roboto;
    color: #fff;
    font-size: 30px;
    line-height: 125%;
    font-weight: 700;
}
.headline-32 {
	font-family: $f_roboto;
    color: #fff;
    font-size: 24px;
    line-height: 140%;
    font-weight: 700;
}

.p-16 {
	font-family: $f_roboto;
    font-size: 16px;
    line-height: 160%;
    color: #e1e1e6;
}
.p-gray {
	font-family: $f_roboto;
    font-size: 14px;
    line-height: 160%;
    color: #c4c4cc;
    text-align: center;
}

.text-buttom {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #FFF;

    font-family: $f_roboto;
}

.span-slice {
    text-decoration: line-through;
}

.font20 {
    font-size: 20px;
}

.heading-40 {
    font-size: 28px;
    line-height: 130%;
    font-weight: 400;
    color: #e1e1e6;
}

.paragraph-2 {
    font-family: $f_roboto;
    color: #c4c4cc;
    font-size: 16px;
    line-height: 160%;
    font-style: normal;
    text-decoration: none;
}

@media screen and(min-width: 991px) {
    .headline-32 {
        font-size: 32px;
        line-height: 140%;
    }

    .headline-48 {
        font-size: 48px;
        line-height: 125%;

    }
}