// mixin de fonts
@mixin font_headline1($f_size,$f_bold,$line_h,$f_cor,) {
    font: {
        size: $f_size;
        weight:$f_bold;
    };
    line-height: $line_h;
    color: $f_cor;
}

@mixin  font_headline2($f_cor) {
    color: $f_cor;
    font-size: 24px;
    line-height: 140%;
    font-weight: 700;

    text-align: center;
    margin-top: 8px;
}

// end fonts

// mixin button
@mixin button_lp($bg_cor,$f_cor) {
    padding: 16px 32px;
    border-radius: 5px;
    background-color: $bg_cor;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    font-family: $f_roboto;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: $f_cor;
    text-align: center;
}

// end button

//teste
@mixin media991px($min_width: 991px){
    @media screen {
        @media (min-width: $min_width) {
            @content
        }
    }
};

@mixin  mediaSobre($max_width: 400px) {
    @media screen {
        @media (max-width: $max_width) {
            @content
        }
    }
}