.contentMain {
	background-image: url('../assets/BG-black.webp');
	background-position: 50% 0;
    background-size: contain;
    background-repeat: no-repeat;

    width: 100%;
    height: auto;

    padding-bottom: 100px;

    .maxWidth {
        // width: auto;
        max-width: $maxWidth;
        margin: $margin_auto;

        padding: 0px 16px 0px 16px;

        .content-center {
            width: auto;

            .header-content-black {
                display: flex;
                flex-direction: column;
                align-items: center;

                padding-top: 80px;

                .logo-blackfirday {
                    width: 100%;
                }

                .center {
                    margin-top: 24px;
                    text-align: center;
                }

                a {
                    margin-top: 24px;
                    text-decoration: none;
                }

                .arrow-b {
                    height: 48px;
                    margin-top: 24px;
                }

            }
        }


        .section-card-products {
            background-image: linear-gradient(180deg,#121214 50%,rgba(18,18,20,0)),url('../assets/blur-ignite.webp');
            background-position: 0 0,50% 100%;
            background-size: auto,auto;
            background-repeat: repeat,no-repeat;

            border: 1px solid #202024;
            border-radius: 10px;
            background-color: #09090a;

            margin-top: 40px;
            padding: 24px 0px 16px 24px;

            .content-c-esq {
                padding-right: 16px;



                .logo-contents {
                    display: flex;
                    align-items: center;
                    gap: 0px 16px;

                    margin-bottom: 24px;

                    .divisor {
                        height: 32px;
                        width: 1px;
                        background-color: #505059;
                    }

                    .heat-text {
                        font-family: Roboto,sans-serif;
                        font-size: 12px;
                        color: #00b37e;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                    .explore {
                        color: #42d3ff;
                        
                    }
                }

                .mt24 {
                    margin-top: 24px;
                }

                .section-discount {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    padding: 24px 0px 24px 0px;

                    h3 {

                        .linear-gradient {
                                background-image: linear-gradient(90deg,#ad8afc,#f75a68);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                        }
                    }
                }

                .section-price {
                    background-image: linear-gradient(180deg,#29292e,rgba(41,41,46,0));
                    padding: 16px;
                    border-radius: 4px;
                    margin-bottom: 24px;

                    .price-value {

                    }

                    .p-gray {

                

                    }              
                }
                @media screen and(min-width: 479px) {
                        .section-price {
                            background-image: linear-gradient(90deg,#29292e,rgba(41,41,46,0));
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            div:nth-child(2) {
                                max-width: 143px;
                            }
                        }

                        .section-content-buttom {

                            .div-content-buttons {
                                a {
                                    width: fit-content;

                                }
                            }
                        }
                    }

                @media screen and(min-width: 503px) {
                        

                        .section-content-buttom {

                            .div-content-buttons {
                                display: flex !important;
                                flex-direction: row !important;
                                gap: 0px 16px;
                                a {
                                    width: fit-content;

                                    display: flex;
                                    align-items: center;

                                }
                            }
                        }
                }    

                .section-content-buttom {


                    .div-content-buttons {
                        display: flex;
                        flex-direction: column;

                        width: 100%;
                    }
                }
                
            }
            @media screen and(min-width: 991px) {
                .content-c-esq {
                    padding-right: 60px;
                }
            }



            .content-c-dir {
                margin-top: 60px;

               
               @media screen and(min-width: 916px) {
                  img {
                    display: block ;
                    margin-left: auto ;

                  }

                   
               }
            }
        }
        @media screen and(min-width: 479px) {
           .section-card-products {
            background-image: url('../assets/blur-ignite.webp');
            background-position: 0 0;
            background-size: cover;
            background-repeat: no-repeat;
           }
        }
        @media screen and(min-width: 991px) {
            .section-card-products {
                display: flex;
                padding: 60px 0px 60px 60px;
            }
        }


        .section-grid-cursos {
            margin: 40px 0px 0px 0px;

            .card-cursos {
                padding: 16px;
                border: 1px solid #202024;
                border-radius: 6px;
                background-color: #09090a;

                margin-bottom: 32px;


                .name-curso {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                }



                .instructor-course {
                    display: flex;
                    align-items: center;
                    gap: 0px 16px;

                    .avatar-instructor-card {
                        max-width: 54px;
                    }

                }

                @media screen and(min-width: 1080px) {
                    .content-tags {
                        display: flex;
                        flex-direction: row;
                        gap: 0px 16px;
                    }

                    .section-price {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        div:nth-child(2) {
                            width: auto;
                            a {

                                width: fit-content;
                            }
                        }

                    }
                }

            }
        }

        @media screen and(min-width: 768px) {
            .section-grid-cursos {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 32px 32px;
            }
        }
    }
}