@use '../variables/variables';

.footer-rocket {
	border: 1px solid #202024;
	border-radius: 1px;
	background-color: #121214;

	.footer-container {
		max-width: variables.$maxWidth;
		padding: 60px 24px;
		margin: 0 auto;

		.article-footer-content {


			.links {
				text-align: center;
				display: flex;
				flex-direction: column;
				gap: 32px 0px;
			}

			.button-block {
				width: 100%;
				margin-top: 40px;
				display: flex;
				justify-content: center;

				.button-inicio {
					padding-top: 32px;
				}
			}
		}


		@media screen and(min-width: 600px) {
			.article-footer-content {

				.links {
					display: flex;
					flex-direction: row;
					gap: 0px 48px;					
				}

			}
		}

		@media screen and(min-width: 768px) {
			.article-footer-content {
				display: flex;
				justify-content: space-between;
				align-items: center;
				.button-block {
					width: auto;
					margin-top: 0;

					.button-inicio {
						padding-top: 0;
					}
				}
			}
		}
	}
}