.sobre-a-rocketseat {
	padding: 140px 0px;
	background-image: linear-gradient(90deg,#202024,#121214);

	.max-container {
		max-width: $maxWidth;
		padding: 0px 24px 8px 24px;
		margin: 0 auto;
		
		.c-content {

			.logo-title-text {
				padding-bottom: 40px;

				.title-sobre {
					display: flex;
					align-items: center;
					gap: 0px 24px;

					
				}
				@include mediaSobre(340px) {
					.title-sobre {
						display: block;
						
						.heading-40 {
							font-size: 2em;
						}
					}
				}

				p {
					margin-top: 24px;
					strong {
						font-weight: 700;
					}
				}
			}
		}


		@media screen and(min-width: 995px) {
			.c-content {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: 0px 60px;
			}
		}
	}

}
